---
layout: about
title: Findings and Trends Noticed in Interviews
order: 5
object-id: findings
bootstrap: on
---
{%include breadcrumbs.html%}
<div class="container">
  <h2>Findings</h2>
    <p>Below are some preliminary notes we've gathered from the material based on our coded subjects. We are currently working on using these notes to help us write an article about this project. We will post that article here when it's published. We've also included an introductory video.</p>
    <p>Overall, we don't know that we've discovered anything profound or representative from this study, but the various modes of looking provided will hopefully lead the site's users to their own discoveries and new questions to explore.</p>
     <div style="margin:15px auto;width:600px;"> <div id="ytplayer" ></div>
    </div>  
      <script>
        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        // Replace the 'ytplayer' element with an <iframe> and
        // YouTube player after the API code downloads.
        var player;
        function onYouTubePlayerAPIReady() {
          player = new YT.Player('ytplayer', {
            height: '400',
            width: '600',
            cc_load_policy: 1,
            videoId: 'HQXUDOt_vCM'
          });
        }
      </script>
    {%include findings.html%}
  </div>

</div>