---
layout: default
title: Processes
order: 4
object-id: processes
---
<link rel="stylesheet" href="{{site.baseurl}}/css/wenk.css">
<div class="poet-menu" id="top"> 
    <div class="graph wrapper">
        <div class="process-viz" >
            <div class="graph-row">
    <div class="row-name">
      <h2 class="center">Poet</h2>

</div>
    <div class="part">
      <h2 class="center">Creation/Generation</h2>

</div>
<div class="part">
      <h2 class="center">Composition</h2>

</div>
<div class="part">
      <h2 class="center">Publication</h2>
</div>
<div class="part">
      <h2 class="center">Organization/Archiving</h2>
</div>
</div>


    {% assign people = site.interviews | sort: 'object-id' %}
    {% for person in people %}
    <div class="graph-row {% cycle 'odd', 'even' %}">
          <div class="row-wrapper">
 <div class="row-name">
     <br/>
   <h2 class="center "><a href="{{site.baseurl}}/processes/{{ person.object-id }}.html">{{ person.first-name }} {{ person.last-name }}</a></h2>
</div>

 <div class="part">
      <h2 class="center hidden-lg">Creation/Generation</h2>
       Current:  <br/>  <a href="{{site.baseurl}}/processes/{{ person.object-id }}.html" class="wenk--right" data-wenk-length="large" data-wenk="{% for item in site.data.processes %} {% if person.object-id == item.author-id %}{{item.creation_generation}}{%else%}{%endif%}{%endfor%}"><img  src="{{site.baseurl}}/images/process-icons/{{ person.object-id }}/curgen.png"></a>
       <br/>
    Pre-CPU:  <br/>  <a href="{{site.baseurl}}/processes/{{ person.object-id }}.html" class="wenk--right" data-wenk-length="large" data-wenk="{% for item in site.data.processes %} {% if person.object-id == item.author-id %}{{item.pre_creation_generation}}{%else%}{%endif%}{%endfor%}"><img  src="{{site.baseurl}}/images/process-icons/{{ person.object-id }}/pregen.png" title="visualized process"></a>
   
</div>
<div class="part">
      <br/>  
       <h2 class="center hidden-lg">Composition</h2>
       <a href="{{site.baseurl}}/processes/{{ person.object-id }}.html" class="wenk--right" data-wenk-length="large" data-wenk="{% for item in site.data.processes %} {% if person.object-id == item.author-id %}{{item.composition_revision}}{%else%}{%endif%}{%endfor%}"><img  src="{{site.baseurl}}/images/process-icons/{{ person.object-id }}/comprev.png"></a>
</div>
<div class="part">
   <br/>  
   <h2 class="center hidden-lg">Publication</h2>
   <a href="{{site.baseurl}}/processes/{{ person.object-id }}.html" class="wenk--left" data-wenk-length="large" data-wenk="{% for item in site.data.processes %} {% if person.object-id == item.author-id %}{{item.publication}}{%else%}{%endif%}{%endfor%}"><img  src="{{site.baseurl}}/images/process-icons/{{ person.object-id }}/pub.png"></a>
</div>
<div class="part">
      <br/>
      <h2 class="center hidden-lg">Organization/Archiving</h2>
      <a href="{{site.baseurl}}/processes/{{ person.object-id }}.html" class="wenk--left" data-wenk-length="large" data-wenk="{% for item in site.data.processes %} {% if person.object-id == item.author-id %}{{item.organizing_archiving}}{%else%}{%endif%}{%endfor%}"><img  src="{{site.baseurl}}/images/process-icons/{{ person.object-id }}/orgarch.png"></a>
</div>
</div>
</div>
<div style="clear:both"></div>
{% endfor %}

</div>
</div>


  </div>
