<!-- Global site tag (gtag.js) - Google Analytics -->

<!-- Optional JS for Bootstrap: jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ '/assets/js/jquery-3.3.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
<!-- load other js -->

{%if page.url contains "subjectviz" or page.layout == "interview" %}{% include js/visualization-js.html %}{% endif %}
{%if page.url contains "interviews/transcripts" %}{% include js/transcript-js.html %}{% endif %}

{%if page.url contains "notes" %}{% include js/notes-js.html %}{% endif %}

