<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Matomo -->
<script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//devinbecker.org/stats/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '2']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
<!-- Optional JS for Bootstrap: jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ '/assets/js/jquery-3.5.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
<!-- load other js -->
{% include scrolltop.html %}


{%if page.url contains "subjectviz" or page.layout == "interview" %}{% include js/visualization-js.html %}{% endif %}
{%if page.url contains "interviews/transcripts" %}{% include js/transcript-js.html %}{% endif %}

{%if page.url contains "notes" %}{% include js/notes-js.html %}{% endif %}

