<footer class="site-footer">

  <div class="wrapper">

    

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading pink-neon"><a href="{{ site.baseurl }}/" style="Color:white !important;font-size:23px;">{{ site.title }}</a></h2>
        {% assign pages = site.pages | sort:"order"  %}
        {% for this_page in pages %}
  {% if this_page.order %}
  <small><a class="page-link-ctrl" href="{{this_page.url | prepend: site.baseurl }}" style="margin-right:2em;" >
    {{ this_page.title | Capitalize | truncatewords: 1, "" }} </a></small>
     {% endif %}
      {% endfor %}</p>
        <p style="max-width: 650px;margin-bottom: 10px;" >11 Contemporary Poets on writing through the advent of the personal computer and into the arrival of the digital age. </p>
          <p>A <a href="https://cdil.lib.uidaho.edu/">Center for Digital Inquiry and Learning (CDIL)</a> production.</p>
          <p>Questions: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
       
      </div>


      <div class="footer-col footer-col-3 ">
            <br class="hide-palm;" /> 
        <p>Created by: <a href="http://devinbecker.org/">Devin Becker</a>, <a href="http://coreyoglesby.com">Corey Oglesby</a>, and <a href="http://www.laurenwesterfield.com/">Lauren Westerfield</a> 
        </p>
        <p>Support provided by the <a href="https://lib.uidaho.edu">University of Idaho Library</a> and the University of Idaho's 
      <a href="https://www.uidaho.edu/research/faculty/find-funding/internal-funding/seed-grant">Seed Grant</a> and <a href="https://www.uidaho.edu/research/faculty/find-funding/internal-funding/vandal-ideas-project">Vandal Ideas Project</a> programs.</p>
      <ul class="social-media-list">
         
          <li>
            {% include icon-github.html  %}
          </li>  <li style="margin:10px;">
              
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
       </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>


