<footer class="site-footer">

  <div class="wrapper">

    

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading pink-neon"><a href="{{ site.baseurl }}/" style="Color:white !important;font-size:23px;">{{ site.title }}</a></h2>
        <ul class="contact-list">
          
          <li>{{ site.description }}</li>
          <li>a <a href="https://cdil.lib.uidaho.edu/">Center for Digital Inquiry and Learning (CDIL)</a> production</li>
          <li>Questions: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <br class="hide-palm;" /> <br class="hide-palm;" />
        <ul class="social-media-list">
         
          <li>
            {% include icon-github.html  %}
          </li>
       
         
        </ul>
      </div>

      <div class="footer-col footer-col-3">
            <br class="hide-palm;" /> <br class="hide-palm;" />
        <p>Created by: <a href="http://devinbecker.org/">Devin Becker</a>, <a href="http://coreyoglesby.com">Corey Oglesby</a>, and <a href="http://www.laurenwesterfield.com/">Lauren Westerfield</a><br/>
        with generous funding from the University of Idaho's<br/>
      <a href="https://www.uidaho.edu/research/faculty/find-funding/internal-funding/seed-grant">Seed Grant</a> and <a href="https://www.uidaho.edu/research/faculty/find-funding/internal-funding/vandal-ideas-project">Vandal Ideas Project</a> programs</p>
      </div>
    </div>

  </div>

</footer>


<!--<script>
   

var x = document.getElementsByTagName("BODY")[0];
var y = document.getElementsByTagName("HEADER")[0];
x.addEventListener("scroll", myFunction);

function myFunction() {
    console.log('scrolling');
y.classList.add("sticky");;
}




</script>-->
