<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} {% if page.collection-type %}{{ page.collection-type | escape }} {% else %}{% endif %} | {% else %}{% endif %}{{ site.title | escape }}</title>

  <meta name="description" content="{% if page.title %}{{ page.title | escape }}{% if page.collection-type %}{{ page.collection-type | escape }} {% else %}{% endif %}, part of {% else %}{% endif %}{{ site.title | escape }} --> {{site.description}}">
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | absolute_url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    {% if page.url contains 'findings'%} <link rel="stylesheet" href="{{ "/css/tufte.css" | prepend: site.baseurl }}">{% endif %}

  <link rel="canonical" href="https://www.ctrl-shift.org/{{ page.url | replace:'index.html','' }}">
 {%include page-meta.html%}

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://cdil.us/statistics/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '16']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
</head>
