<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} {% if page.collection-type %}{{ page.collection-type | escape }} {% else %}{% endif %} | {% else %}{% endif %}{{ site.title | escape }}</title>

  <meta name="description" content="{% if page.title %}{{ page.title | escape }}{% if page.collection-type %}{{ page.collection-type | escape }} {% else %}{% endif %}, part of {% else %}{% endif %}{{ site.title | escape }} --> {{site.description}}">
  {%if page.bootstrap%}
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | absolute_url }}" type="text/css">
  <script src="{{ '/assets/js/jquery-3.3.1.min.js' | relative_url }}"></script>
  {%endif%}
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="https://www.ctrl-shift.org/{{ page.url | replace:'index.html','' }}">
 {%include page-meta.html%}

</head>
