<style>
        {% for n in site.data.filters %}
        .{{ n.shortfilter }} { fill:{% cycle '#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231', '#911eb4', '#46f0f0', '#f032e6', '#bcf60c', '#fabebe', '#008080', '#e6beff', '#9a6324', '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1', '#000075', '#808080', '#ffffff', '#000000' %}; }
        {% endfor %}
        .black{fill:black;}

         /* Tooltip */
         .tooltip > .tooltip-inner {
            font-size:16px;
            max-width: 500px !important;
            @include media-query($on-palm){
              max-width: 300px !important;
              font-size:11px;
          }
         }
        </style>