---
layout: about
title: Notes on Interviews
order: 5
object-id: findings-notes
permalink: /flotsam/notes/
---
{%include breadcrumbs.html%}
<div class="container my-4">
  <h2>Findings</h2>
    <p>Below are some preliminary notes we've gathered from the interviews related to our coded subjects. We are currently using these notes to write an article about the project, and we believe exposing them here is consistent with one of the project's main aims, i.e. that the various modes of looking at this material and its interpretations will lead  users/readers to their own discoveries and new questions to explore. These notes can also be browsed with the transcripts <a href="/transcriptall.html">here</a>.  <p>
     
    {%include notes.html%}
  </div>

</div>