---
layout: default
---
<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<div id="{{ page.object-id }}" class="poet-feature {% cycle "odd", "even" %}" >
 <p class="backtotop" ><a href="#top">Back to Top</a></p>
 <h2 class="poet-name" style="width:70%;float:left;">{{ page.first-name }} {{ page.last-name }}</h2>
 <!-- Link to open the modal -->
<a href="#ex1" rel="modal:open" class="action-button download-button">Files and Data</a>
 <!-- Modal HTML embedded directly into document -->
<div id="ex1" class="modal">
  <p class="center">
  <a class="action-button" href="/data/mp3/{{page.object-id}}.mp3">MP3</a><br/>
  <!--<a class="action-button" href="/data/pdf/{{page.object-id}}.pdf">Transcript PDF</a><br/>-->
  <a class="action-button" href="/data/csv/{{page.object-id}}.csv">Transcript CSV</a><br/>
  <a class="action-button" href="/data/txt/{{page.object-id}}.txt">Transcript TXT</a><br/>
</p>
  <hr /><br/>
  <a  href="#" rel="modal:close">Close</a>
</div>


 <div class="right-column column" >
     {% for item in site.data[page.object-id] %}
     <div class="variation" id="{{ page.object-id }}variation{{ forloop.index }}">
  <p class="quote ">"{{item.excerpt}}"
 </p>
 <p class="attribution " >From <a href="/ohms-viewer/viewer.php?cachefile={{ page.object-id }}.xml#segment{{item.seconds}}">interview section {{ forloop.index }}, "{{item.section-title}}," at {{item.timestamp}}</a>
 <br/> {{page.location}} | {{page.date-interviewed}}</p>
 </div>
   {% endfor %}
<script>
    function random_item(items)
{return items[Math.floor(Math.random()*items.length)]; }
var items = [{% for item in site.data[page.object-id] %}'{{ page.object-id }}variation{{ forloop.index }}',{% endfor %}'{{ page.object-id }}variation5'];
var randomitem = (random_item(items)); 
document.getElementById(randomitem).style.display = 'block';
console.log(randomitem);
    </script>

      
    
      <p class="center"><a class="action-button" href="{{site.baseurl}}/interviews/transcripts/{{ page.object-id }}.html" style="font-size:larger;">Interview Transcript w/ Filters</a></p>   
 <p class="center"><a class="action-button" href="/ohms-viewer/viewer.php?cachefile={{ page.object-id }}.xml">full Audio Interview w/ Transcript</a></p>
<p class="center"><a class="action-button" href="{{site.baseurl}}/videos/{{ page.object-id }}.html">Interview Video</a></p>

<p class="center"><a class="action-button" href="{{site.baseurl}}/photos/{{ page.object-id }}.html">Interview Photos</a></p>

  <p class="center"><a class="action-button" href="{{site.baseurl}}/analyses/respondents/{{ page.object-id }}.html">Answers to Common Questions</a></p>
 
 
  
<!--<p class="center"><a class="action-button" href="{{site.baseurl}}/genpoems/{{ page.object-id }}.html">Clean PDF Transcript</a></p>-->

 <h2>Analyses and Visualizations</h2>
 {% capture narrative  %}{% include narratives/{{ page.object-id }}.md  %}{% endcapture %}
 <p >"{{ narrative |  truncatewords: 45 }}"</p>
<p class="center"><a class="action-button" href="{{site.baseurl}}/processes/{{ page.object-id }}.html">Full Process Narrative and Visualization</a></p> 

{%if page.youtube %}<p class="center"><a class="action-button" href="{{site.baseurl}}/flotsam/genpoems/{{ page.object-id }}.html">Generative Poem</a></p> {% else %} {% endif %}


         




</div>

    <div class="left-column column" >
                
                <h3>Interviewed in {{page.location}} on {{page.date-interviewed}}</h3>
 <img src="{{site.baseurl}}/images/{{page.object-id}}.jpg"/>
  <p class="bio">{{page.content}}</p>
  {% for item in site.data.bios %}
  {% if item.poet-id == page.object-id %}
  <p><a class="action-button" href="{{item.url}}">More on {{ page.first-name }} {{ page.last-name }}</a></p>
  {%else%}
    {% endif %}
      {% endfor %}
  
 {% capture bibliography  %}{% include bibliographies/{{ page.object-id }}.md %}{% endcapture %}
{{ bibliography | markdownify }}
</div>
    
    



  </div>
  <div class="clear:both"></div>
	