---
layout: default
---

<div id="{{ page.object-id }}" class="poet-feature" >
  <h2 class="poet-name"><a href="{{site.baseurl}}/interviews/{{ page.object-id }}.html">{{ page.first-name }} {{ page.last-name }}</a></h2>
  <div class="process-viz">
    <div class="part">
      <h2 class="center">Creation/Generation</h2>
       Current: <img  src="{{site.baseurl}}/images/process-icons/{{ page.object-id }}/curgen.png">
       <br/> 
 Pre-CPU: <img  src="{{site.baseurl}}/images/process-icons/{{ page.object-id }}/pregen.png">
     
</div>
<div class="part ">
      <h2 class="center ">Composition</h2>
      <br/> 
<img  src="{{site.baseurl}}/images/process-icons/{{ page.object-id }}/comprev.png">
</div>
<div class="part">
      <h2 class="center">Publication</h2>
      <br/> 
<img  src="{{site.baseurl}}/images/process-icons/{{ page.object-id }}/pub.png">
</div>
<div class="part ">
      <h2 class="center">Organization/Archiving</h2>
      <br/> 
<img  src="{{site.baseurl}}/images/process-icons/{{ page.object-id }}/orgarch.png">
</div>

</div>
 
     {% capture narrative  %}{% include narratives/{{ page.object-id }}.md  %}{% endcapture %}
 <div class="process-nar" >
     <h2>Process Narrative</h2>
     {{ narrative | markdownify }}</div>
      

  

</div>
  <div style="clear:both"></div>