---
layout: default
---

<div id="{{ page.object-id }}" class="poet-feature" >
  <h2 class="poet-name"><a href="/people/{{ page.object-id }}.html">{{ page.first-name }} {{ page.last-name }}</a></h2>
  <div class="process-viz">
    <div class="part">
      <h2 class="center">Creation/Generation</h2>
       Current: <img  src="/images/processes/{{ page.object-id }}/Current_creation_generation.png">
       <br/> 
 Pre-CPU: <img  src="/images/processes/{{ page.object-id }}/Pre_CPU_creation_generation.png">
     
</div>
<div class="part ">
      <h2 class="center ">Composition</h2>
      <br/> 
<img  src="/images/processes/{{ page.object-id }}/Composition_Revision.png">
</div>
<div class="part">
      <h2 class="center">Publication</h2>
      <br/> 
<img  src="/images/processes/{{ page.object-id }}/Publication.png">
</div>
<div class="part ">
      <h2 class="center">Organization/Archiving</h2>
      <br/> 
<img  src="/images/processes/{{ page.object-id }}/Organizing_Archiving.png">
</div>

</div>
  <br/><br/>
  <div style="clear:both"></div>
     {% capture narrative  %}{% include narratives/{{ page.object-id }}.md  %}{% endcapture %}
 <div class="process-nar answer" >
     <h2>Process Narrative, {{page.first-name}} {{page.last-name}}</h2>
     {{ narrative | markdownify }}</div>
      

  

</div>
  <div style="clear:both"></div>